.register-container{
    border-radius: 10px;
    margin:auto;
    background-color: white;
    box-shadow: 3px 3px 5px #ccc;
    flex-direction: column;
    width: 400px;
    min-height: 243px;
}
/* .h2-log-in{
    
} */
.register-input {
    width: 80%;
    padding: 10px;
    margin:10px auto;
    border: 0.2px solid #535252;
    border-radius: 5px;
    transition: all 0.3s;
}
.label-register{
display: inline;
margin: auto 10px;
}
.radio{
    background-color: #535252;
    width: 12px;
    margin: 0px 0px 0px 25%;
}
.mini{
    width: 15%;
    margin-right: 8px;
    
}
.tel{
    width: 65%;
}
.div-phone-number{
    border:none;
    padding: 0px;
}
.div-input {
    text-align: left;
  }
.register-input:focus,
.register-input:placeholder-shown {
    padding: 5px;
}

.register-input:focus + label,
.register-input:placeholder-shown + label {
    font-size: 12px;
    transform: translateY(-20px);
}
.div-register-icons{
    margin:10px auto;
    padding: 4px;
    width: 70%;
    justify-content: center;
    display: flex;
}
.div-register-icons a{
    justify-content: center;
    margin:auto 40px;
}
.register-icons{
    width: 30px;
    height: 30px;
}
.register-icons img{
    width: 30px;
    height: 30px;
}
.pform{
    font-size: .8em;
}