.cont-hijo-list{
    align-items: center;
}
.div-list{
    min-height:fit-content ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.butt-list{
    margin-bottom: 10px;
}
.column{
  display: flex;
  flex-direction: column;
}

.h2-lists{
  width: 30vw;
}